#container {
    width: 350px;
    margin: 0px auto;
}

#content {
    width: 2000px;
    margin-left: 150px;
}
img {
    height: 550px;
    margin-left: 50px;
    margin-bottom: 20px;
}
button {
    background-color: white;
    border-radius: 5px;
    box-shadow: 5px;
    color: orange;
    display: block;
    font-weight: bold;
    width: 100px;
    margin-top: 10px;
    margin-left: 1100px;
    padding: 8px;
}